BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping: {
	AfterClass: 'true'
	AfterControlStatement: 'true'
	AfterEnum : 'false'
	AfterFunction : 'true'
	AfterNamespace : 'false'
	AfterStruct : 'true'
	AfterUnion : 'true'
	BeforeCatch : 'true'
	BeforeElse : 'true'
	IndentBraces : 'false'
}
PointerAlignment: Right
SortIncludes: 'false'
SpacesInAngles: 'false'
Standard: Cpp03
TabWidth: '4'
UseTab: Always
MaxEmptyLinesToKeep: '2'
ForEachMacros: [foreach, Q_FOREACH]
